.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;
    grid-template-areas: 
    "buttons buttons"
    "head head"
    "sidebar main"
    "foot foot";
}

.checkbox {
    grid-area: sidebar;
    text-align: center;
}
    

.emailpassword {
    grid-area: main;
    text-align: center;
}

.contactback {
    grid-area: foot;
    text-align: center;
}

h1 {
    grid-area: head;
    text-align: center;
}

.buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button {
    color: white;
    background-color: black;
    height: 50px;
    width: 170px;
    border: 2px solid grey;
    border-radius: 25px;
    font-size: 20px; 
}

h4 {
    font-size: 25px;
}
